BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma,Verdana,sans-serif,simsun; PADDING-TOP: 0px
}
TEXTAREA {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
BODY {
	FONT-SIZE: 12px
}
SELECT {
	COLOR: #767676; VERTICAL-ALIGN: middle !important
}
INPUT {
	COLOR: #767676; VERTICAL-ALIGN: middle !important
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	VERTICAL-ALIGN: top
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #333333
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #176cb8; TEXT-DECORATION: underline
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-block
}
.clearfix {
	DISPLAY: block
}
.clear {
	LINE-HEIGHT: 0px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
.rela {
	POSITION: relative
}
.posi {
	POSITION: absolute
}
.cursor {
	CURSOR: pointer
}
BODY {
	TEXT-ALIGN: left; BACKGROUND: #454545; COLOR: #333333
}
.header {
	BACKGROUND: #fff; HEIGHT: 80px; CLEAR: both; OVERFLOW: hidden
}
.headtop {
	MARGIN: 0px auto; WIDTH: 952px
}
.navn {
	MARGIN: 0px auto; WIDTH: 952px
}
.main {
	MARGIN: 0px auto; WIDTH: 952px
}
.nav {
	MARGIN: 0px 0px 20px; BACKGROUND: url(image/navbg.gif) repeat-x; HEIGHT: 43px
}
.navn {
	MARGIN: 0px auto; WIDTH: 952px
}
.navn A {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 50px; MARGIN: -7px -7px 0px -10px; WIDTH: 102px; BACKGROUND: url(image/navbtna.gif) no-repeat 92px 17px; FLOAT: left; HEIGHT: 50px; COLOR: #fff
}
.navn A:hover {
	WIDTH: 102px; BACKGROUND: url(image/navbtn.png) no-repeat; FLOAT: left; HEIGHT: 50px; COLOR: #7a7979
}
.navn A.cur {
	WIDTH: 102px; BACKGROUND: url(image/navbtn.png) no-repeat; FLOAT: left; HEIGHT: 50px; COLOR: #7a7979
}
* HTML .navn A:hover {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="image/navbtn.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
* HTML .navn A.cur {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="image/navbtn.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
HTML {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 100%; BORDER-LEFT-STYLE: none
}
BODY {
	FONT-FAMILY: Tahoma,"????"; HEIGHT: 100%; FONT-SIZE: 12px
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ADDRESS {
	
}
CAPTION {
	
}
CITE {
	
}
CODE {
	
}
DFN {
	
}
EM {
	
}
TH {
	
}
VAR {
	
}
OPTGROUP {
	
}
DEL {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 18px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 12px
}
H4 {
	FONT-SIZE: 12px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 12px
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
INPUT {
	FONT-FAMILY: inherit
}
BUTTON {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
OPTGROUP {
	FONT-FAMILY: inherit
}
OPTION {
	FONT-FAMILY: inherit
}
INPUT {
	FONT-SIZE: 100%
}
BUTTON {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
.c_b {
	ZOOM: 0
}
.c_b:after {
	DISPLAY: block; CLEAR: both; CONTENT: " "
}
HTML {
	SCROLLBAR-ARROW-COLOR: #000; SCROLLBAR-FACE-COLOR: #666; SCROLLBAR-DARKSHADOW-COLOR: #292929; MARGIN-BOTTOM: 0px; HEIGHT: 100%; SCROLLBAR-HIGHLIGHT-COLOR: #000; SCROLLBAR-SHADOW-COLOR: #000; SCROLLBAR-TRACK-COLOR: #1e1f21; SCROLLBAR-3DLIGHT-COLOR: #373739
}
.sm_search_tips {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: #666 1px solid; LINE-HEIGHT: 20px; BACKGROUND: #111; COLOR: #333; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid
}
.sm_search_tips LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: #111; COLOR: #fff; OVERFLOW: hidden; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.sm_search_tips LI.current A {
	BACKGROUND: #000; COLOR: #3eaef9
}
.sm_search_tips LI A:hover {
	BACKGROUND: #000; COLOR: #3eaef9
}
.sm_search_tips LI A.help {
	TEXT-ALIGN: right; COLOR: #aaa
}
.img_100_65 {
	MARGIN: 0px 4px; WIDTH: 100px; HEIGHT: 65px
}
.img_210_75 {
	WIDTH: 210px; HEIGHT: 75px
}
.img_240_80 {
	WIDTH: 240px; HEIGHT: 80px
}
.img_240_340 {
	WIDTH: 240px; HEIGHT: 340px
}
.img_240 {
	TEXT-ALIGN: center; WIDTH: 240px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden
}
.top-info {
	POSITION: relative; PADDING-BOTTOM: 5px; MARGIN: auto; WIDTH: 100%
}
.top-main {
	MARGIN: auto; WIDTH: 100%
}
.sp_1 {
	TEXT-ALIGN: center; MARGIN: 10px auto; WIDTH: 100%; OVERFLOW: hidden
}
.site-info {
	BORDER-BOTTOM: #444 1px solid; BORDER-LEFT: #444 1px solid; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: #333; BORDER-TOP: #444 1px solid; BORDER-RIGHT: #444 1px solid
}
.foot {
	PADDING-BOTTOM: 20px; MARGIN: auto; PADDING-LEFT: 10px; WIDTH: 970px; PADDING-RIGHT: 10px; COLOR: #ccc; PADDING-TOP: 10px
}
.foot A {
	COLOR: #ccc
}
.foot P {
	LINE-HEIGHT: 22px
}
.foot .info {
	TEXT-ALIGN: center; PADDING-TOP: 5px
}
.content-main {
	PADDING-BOTTOM: 0px; MARGIN: auto auto 20px; PADDING-LEFT: 10px; WIDTH: 970px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.content-main .left {
	WIDTH: 240px; FLOAT: left
}
.content-main .right {
	WIDTH: 720px; FLOAT: left; MARGIN-LEFT: 10px
}
.live_main {
	WIDTH: 100%; MARGIN-BOTTOM: 0px
}
.live_main .right {
	WIDTH: 730px; FLOAT: left; COLOR: #fff; MARGIN-LEFT: 10px
}
.top-info H1 {
	MARGIN: 10px 0px 0px 7px; DISPLAY: inline; FLOAT: left
}
.top-info H1 A {
	Z-INDEX: 10; POSITION: relative; TEXT-INDENT: -9999px; WIDTH: 240px; DISPLAY: block; HEIGHT: 100px; OVERFLOW: hidden
}
.top-info .info {
	WIDTH: 723px; FLOAT: left; MARGIN-LEFT: 15px
}
.top-info .sp {
	WIDTH: 360px; DISPLAY: block; HEIGHT: 60px; OVERFLOW: hidden
}
.top-info .user {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 23px 5px auto auto; FONT-FAMILY: Tahoma,"????"; TOP: 0px; RIGHT: 0px
}
.top-info .user LI {
	DISPLAY: inline; MARGIN-LEFT: -1px
}
.top-info .user LI I {
	BORDER-LEFT: #888 1px solid; FONT-STYLE: normal; MARGIN: 4px 9px 0px 0px; PADDING-LEFT: 12px; DISPLAY: inline; COLOR: #ccc
}
.top-info .user A {
	BORDER-LEFT: #888 1px solid; FONT-STYLE: normal; MARGIN: 4px 9px 0px 0px; PADDING-LEFT: 12px; DISPLAY: inline; COLOR: #ccc
}
.top-info .menu {
	POSITION: relative; WIDTH: 100%; CLEAR: both
}
.top-info .menu UL {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 4px
}
.top-info .menu LI {
	LINE-HEIGHT: 42px; DISPLAY: inline; FONT-SIZE: 14px
}
.top-info .menu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 42px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; FONT-FAMILY: "????"; FLOAT: left; COLOR: #dfdfdf; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.top-info .menu LI A:hover {
	
}
.top-info .menu .search INPUT {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 22px; BORDER-RIGHT-STYLE: none; MARGIN: 2px 0px 0px 4px; WIDTH: 125px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 22px; COLOR: #666; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
.top-info .menu .sup-ico {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 100%; CLEAR: both; TOP: -4px
}
.top-main .main {
	WIDTH: 720px; DISPLAY: inline; FLOAT: right; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
.top-main .nav {
	WIDTH: 240px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.top-main .flash_box {
	MARGIN-BOTTOM: 5px; BACKGROUND: #101211
}
.top-main .flash_box .show {
	MARGIN: 0px 5px 5px
}
.download {
	MARGIN: 8px 10px 10px
}
.download DL {
	Z-INDEX: 100; POSITION: relative; MARGIN: -10px 5px 5px; _margin: -12px 5px 2px 5px
}
.download DL DT {
	FLOAT: left; COLOR: #fff; FONT-WEIGHT: bold
}
.download DL DD {
	FLOAT: right
}
.download DL DD A {
	MARGIN-TOP: 2px; DISPLAY: block; COLOR: #dadada
}
.download .btn SPAN {
	TEXT-INDENT: -9999px; DISPLAY: block
}
.download .btn I {
	FONT-STYLE: normal; MARGIN-TOP: 20px; PADDING-LEFT: 60px; DISPLAY: block
}
.download P {
	TEXT-ALIGN: center; MARGIN-TOP: 3px; COLOR: #bababa
}
.top-main .nav-show {
	MARGIN: auto; WIDTH: 240px; PADDING-TOP: 4px
}
.top-main .nav-show LI {
	DISPLAY: block; FLOAT: left
}
.top-main .nav-show LI A:hover {
	TEXT-DECORATION: none
}
.top-main .nav-show DL {
	MARGIN: 0px 10px 10px; WIDTH: 220px; OVERFLOW: hidden
}
.top-main .nav-show DT {
	POSITION: relative; LINE-HEIGHT: 19px; MARGIN: 10px 0px; PADDING-LEFT: 5px; HEIGHT: 19px; COLOR: #3eaef9; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.top-main .nav-show DT A {
	DISPLAY: inline-block; COLOR: #3eaef9
}
.top-main .nav-show DT A:hover {
	TEXT-DECORATION: none
}
.top-main .nav-show DT STRONG {
	LINE-HEIGHT: 19px; DISPLAY: inline-block; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.top-main .nav-show DD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.top-main .nav-show DD A {
	BORDER-LEFT: #888 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 2px 0px 2px -1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; FLOAT: left; COLOR: #d9d9d9; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.top-main .nav-show .goto_live A {
	DISPLAY: inline-block; COLOR: #d9d9d9; MARGIN-LEFT: 15px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal
}
.top-main .nav-show .goto_hot A {
	DISPLAY: inline-block; COLOR: #d9d9d9; MARGIN-LEFT: 15px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal
}
.top-main .nav-show .goto_nba {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 10px 0px 0px 50px; HEIGHT: 17px
}
.top-main .nav-show .goto_hdmovie {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 10px 0px 0px 50px; HEIGHT: 17px
}
.top-main .nav-show .goto_wcg {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 10px 0px 0px 100px; HEIGHT: 17px
}
.top-main .nav-show .goto_pastime {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 10px 0px 0px 86px; HEIGHT: 17px
}
.content-main .left .subject .title .goto_expo {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 5px 0px 0px 4px; HEIGHT: 17px
}
.top-main .inside-nav-show DL {
	PADDING-BOTTOM: 9px; MARGIN: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 9px
}
.top-main .inside-nav-show .now DT {
	MARGIN-BOTTOM: 9px
}
.top-main .inside-nav-show .now {
	BACKGROUND: #1c1e20
}
.top-main .inside-nav-show DT {
	MARGIN: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.top-main .inside-nav-show DT A {
	FLOAT: left
}
.top-main .inside-nav-show DT STRONG.now {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f90
}
.top-main .inside-nav-show DD {
	DISPLAY: none
}
.top-main .inside-nav-show .now DD {
	DISPLAY: block
}
.top-main .inside-nav-show DD H3 {
	LINE-HEIGHT: 24px; MARGIN: 0px 0px 1px 12px; HEIGHT: 24px; COLOR: #999; OVERFLOW: hidden
}
.top-main .inside-nav-show DD A {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; MARGIN: auto auto 1px 5px; PADDING-LEFT: 13px; WIDTH: 200px; PADDING-RIGHT: 0px; DISPLAY: block; BORDER-TOP-STYLE: none; BACKGROUND: #000; FLOAT: none; HEIGHT: 24px; COLOR: #d9d9d9; BORDER-LEFT-STYLE: none; OVERFLOW: hidden; PADDING-TOP: 0px
}
.top-main .inside-nav-show DD A.now {
	BORDER-BOTTOM: #444 1px solid; BORDER-LEFT: #444 1px solid; BORDER-TOP: #444 1px solid; BORDER-RIGHT: #444 1px solid
}
.top-main .playbill .date {
	TEXT-ALIGN: center; WIDTH: 70px; FLOAT: left
}
.top-main .playbill .date .day {
	PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-LEFT: 10px; WIDTH: 58px; PADDING-RIGHT: 0px; HEIGHT: 35px; PADDING-TOP: 1px
}
.top-main .playbill .date .day SPAN {
	TEXT-INDENT: -9999px; WIDTH: 23px; DISPLAY: inline; FLOAT: left; HEIGHT: 32px; MARGIN-LEFT: 1px
}
.top-main .playbill .month {
	FONT-SIZE: 14px
}
.top-main .tv_station {
	WIDTH: 624px; FLOAT: left; HEIGHT: 80px; OVERFLOW: hidden
}
.top-main .tv_station A {
	FLOAT: left; COLOR: #fff; CURSOR: pointer
}
.top-main .tv_station A:hover {
	TEXT-DECORATION: none
}
.top-main .tv_station DL {
	WIDTH: 156px; FLOAT: left; HEIGHT: 80px; OVERFLOW: hidden
}
.top-main .tv_station DT {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 24px; PADDING-TOP: 0px
}
.top-main .tv_station DT IMG {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 3px
}
.top-main .tv_station DT STRONG {
	LINE-HEIGHT: 16px; MARGIN-TOP: 6px; WIDTH: 116px; DISPLAY: block; FLOAT: left; HEIGHT: 16px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.top-main .tv_station DD {
	LINE-HEIGHT: 18px; PADDING-LEFT: 14px; DISPLAY: block; HEIGHT: 18px; COLOR: #fff; OVERFLOW: hidden
}
.hot-hd {
	MARGIN-BOTTOM: 20px
}
.hot-hd .title {
	BORDER-BOTTOM-COLOR: #214a68; BORDER-LEFT: #214a68 1px solid; WIDTH: 718px; BACKGROUND: #0b1f37; BORDER-BOTTOM-WIDTH: 1px; BORDER-TOP: #214a68 1px solid; BORDER-RIGHT: #214a68 1px solid
}
.hot-hd .title H3 {
	LINE-HEIGHT: 32px; WIDTH: 120px; FLOAT: left; MARGIN-LEFT: 15px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.hot-hd .title .search {
	TEXT-ALIGN: right; MARGIN-TOP: 10px; FLOAT: left; HEIGHT: 15px; OVERFLOW: hidden; MARGIN-RIGHT: 12px
}
.hot-hd .title A {
	COLOR: #daecf8; MARGIN-RIGHT: 8px
}
.hot-hd .movie UL {
	MARGIN-LEFT: 15px
}
.hot-hd .movie LI {
	MARGIN: 8px 7px 0px 8px; WIDTH: 122px; FLOAT: left
}
.hot-hd .movie LI A {
	POSITION: relative; DISPLAY: block; BORDER-TOP: #333 1px solid; CURSOR: pointer
}
.hot-hd .movie LI A IMG {
	BORDER-BOTTOM: #333 0px solid; BORDER-LEFT: #333 1px solid; WIDTH: 120px; HEIGHT: 160px; BORDER-TOP: #333 0px solid; BORDER-RIGHT: #333 1px solid
}
.hot-hd .movie LI A SPAN {
	Z-INDEX: 10; POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; HEIGHT: 30px; TOP: 0px; LEFT: 1px
}
.hot-hd .movie LI A:unknown {
	BORDER-BOTTOM: red 0px solid; BORDER-LEFT: red 0px solid; BORDER-TOP: #333 1px solid; BORDER-RIGHT: red 0px solid
}
.hot-hd .movie LI A SPAN.play {
	Z-INDEX: 5; TEXT-INDENT: -9999px; WIDTH: 120px; DISPLAY: none; HEIGHT: 160px
}
.hot-hd .movie LI .type {
	BORDER-BOTTOM: #333 1px solid; BORDER-LEFT: #333 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #000; HEIGHT: 24px; OVERFLOW: hidden; BORDER-TOP: #333 0px solid; BORDER-RIGHT: #333 1px solid; PADDING-TOP: 0px
}
.hot-hd .movie LI P A {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; DISPLAY: block; BORDER-TOP-STYLE: none; HEIGHT: 24px; COLOR: #dbdbdb; BORDER-LEFT-STYLE: none; OVERFLOW: hidden
}
.hot-hd .movie LI P A:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.site-info .sort {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 24px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; PADDING-TOP: 8px
}
.site-info .sort .left {
	WIDTH: 50%; MARGIN-BOTTOM: 8px; FLOAT: left
}
.site-info .sort .right {
	WIDTH: 50%; MARGIN-BOTTOM: 8px; FLOAT: right
}
.site-info .sort .link {
	WIDTH: 100%
}
.site-info .sort H4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 64px; PADDING-RIGHT: 0px; ZOOM: 1; DISPLAY: inline; COLOR: #8e8e8e; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.site-info .sort A {
	MARGIN: 0px 5px; DISPLAY: inline-block; COLOR: #fff
}
.site-info .collaborate {
	MARGIN: 0px 32px 10px
}
.site-info .collaborate H3 STRONG {
	WIDTH: 55px; DISPLAY: block; FLOAT: left; HEIGHT: 14px; MARGIN-LEFT: 5px
}
.site-info .collaborate UL {
	TEXT-ALIGN: left; FLOAT: left; OVERFLOW: hidden
}
.site-info .collaborate LI {
	DISPLAY: inline; MARGIN-LEFT: -1px; OVERFLOW: hidden
}
.site-info .collaborate LI A {
	BORDER-LEFT: #888 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 5px; COLOR: #fff; PADDING-TOP: 0px
}
