<cmp 
	counter = ""
	javascript = ""
	name = "尛堂QQ:1602727444"
	link = "http://yy.com/51281167"
	link_target = "_blank"
	description = "尛堂QQ:1602727444"
	logo = "{src:logo.swf,xywh:[15r,0,0,0]}"
        logo_alpha = "9.0"
	skins = "skins/14029.zip"
	plugins = "plugins/proxy.swf"
	backgrounds = ""
	lists = ""
        List = "http://imgo.aliapp.com/"
        proxy = "http://proxy-api.aliapp.com/"
	tudou="http://ghflv.aliapp.com/tudou.php?"
        Cloud = "http://qtapp.aliapp.com/proxy.php?id="
        Jiexi = "http://api.zynh.cn/"
        Xba = "http://g3tv6080.aliapp.com/"
	src_handler = "" 
	lrc_handler = ""
	skin_id = "1"
	play_id = ""
	auto_play = "1"
        click_play = "1"
	list_delete = ""
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"
        announce_xywh = "0,0,100P,30"
        announce_speed = "3" 
        announce_content = "%3CFONT%20size%3D'18'%3E%3Cb%3E%3Cfont%20color%3D'%2300FFFF'%3E%E2%91%A0%3Cfont%20color%3D'%23ff0000'%3E%E5%8F%8B%E6%83%85%E6%8F%90%E7%A4%BA%EF%BC%9A%E6%AC%A2%E8%BF%8E%E5%85%89%E4%B8%B4%E7%A5%9E%E8%81%96%E5%BD%B1%E9%99%A2%E3%80%82%E5%A6%82%E9%81%87%E5%88%B0%E5%8A%A0%E8%BD%BD%E8%BF%87%E6%85%A2%E8%AF%B7%E6%82%A8%E8%80%90%E5%BF%83%E7%AD%89%E5%BE%85%E3%80%82%E6%9B%B4%E5%A4%9A%E6%9C%80%E6%96%B0%E7%94%B5%E5%BD%B1%EF%BC%8C%E6%9C%80%E6%96%B0%E7%94%B5%E8%A7%86%E5%89%A7%E3%80%82%E8%AF%B7%E5%85%B3%E6%B3%A8%E6%9C%AC%E7%AB%99%E3%80%82%E6%88%91%E4%BB%AC%E5%B0%86%E7%AC%AC%E4%B8%80%E6%97%B6%E9%97%B4%E6%9B%B4%E6%96%B0%E3%80%82%E8%B0%A2%E8%B0%A2%E6%82%A8%E7%9A%84%E8%AE%BF%E9%97%AE%E2%88%A3%3Ca%20href%3D'http%3A%2F%2Fwpa.qq.com%2Fmsgrd%3Fv%3D3%26uin%3D1602727444%26site%3Dqq%26menu%3Dyes'%3E%3Cfont%20color%3D'%23ff0000'%3E%3Cb%3E%E7%82%B9%E5%87%BB%E5%AE%A2%E6%9C%8DQQ%E5%9C%A8%E7%BA%BF%3C%2Fb%3E%3C%2Ffont%3E%3C%2Fa%3E"
	
/>